In [1]:
require "daru"

true

In [2]:
df = Daru::DataFrame.from_csv("../data/ch1_sport_test.csv")

#<Daru::DataFrame(10x6)>
        生徒番号    学年    握力 上体起こし    点数    順位
     0     1     1  40.2    34    15     4
     1     2     1  34.2    14     7    10
     2     3     1  28.8    27    11     7
     3     4     2  39.0    27    14     5
     4     5     2  50.9    32    17     2
     5     6     2  36.5    20     9     9
     6     7     3  36.6    31    13     6
     7     8     3  49.2    37    18     1
     8     9     3  26.0    28    10     8
     9    10     3  47.4    32    16     3

In [3]:
df["握力"]

#<Daru::Vector(10)>
        握力
    0 40.2
    1 34.2
    2 28.8
    3 39.0
    4 50.9
    5 36.5
    6 36.6
    7 49.2
    8 26.0
    9 47.4

In [4]:
df.shape

[10, 6]